@model HospitalAppointmentSchedulingSystemMVC.ViewModel.ReadApointmentOfDoctors

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctor.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctor.Specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor.Specialty)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor.appointments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?doctor..Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
